<h2>Directory Explorer</h2>
<input type="text" [(ngModel)]="directory" placeholder="./jjtest"/> 
<button (click)="getDirectories()" *ngIf="directory">Go!</button>
<p *ngIf="errorText">{{errorText}}</p>
<table style="width:100%">
  <tr>
    <th>Path</th>
    <th>Created</th> 
    <th>Modified</th>
    <th>Size</th>
    <th>IsDirectory</th>
  </tr>
  <tr *ngFor="let directory of subDirectoriesAndFiles">
    <td>{{directory.path}}</td>
    <td>{{directory.created}}</td> 
    <td>{{directory.modified}}</td>
    <td>{{directory.size}}</td>
    <td>{{directory.isDirectory}}</td>
  </tr>
  
</table>